{% extends 'base/base.html' %}

{% block header %}
  {% include "includes/headers/header-main.html" %}
{% endblock %}

{% block content %}
  <main class="main-index">
    <div class="content" style="width: 80%; margin: 0 auto">
      <h1>Password reset sent</h1>
      <h4>We've emailed you instructions for setting your password, if an account exists with the email you entered. You
        should receive them shortly.</h4><br>
      <h4 style="width: 60%; margin: 0 auto">If you don't receive an email, please make sure you've entered the address
        you registered with, and check your spam folder.</h4>
      <a href="{% url 'tracker:index' %}" class="btn-link">Return to home page</a>
    </div>
  </main>
{% endblock %}