{% extends "base.html" %}

{% block title %}
  <title>Reset Password</title>
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block content %}
  <main class="main-index">
    <div class="content" style="width: 100%; max-width: 500px;">
      <h1>Reset Your Password</h1>
      <form class="form" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save</button>
      </form>
    </div>
  </main>
{% endblock %}
