<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block title %}
    <title></title>
  {% endblock %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
  <footer class="footer">
    <p>&copy; 2026 ProjectFlow - Project Management System</p>
  </footer>
{% endblock %}
</body>
</html>