{% block pagination %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">&#8592;</a>
        {% endif %}

      <span style="display: inline-block; padding-top: 10px;" class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&#8594;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock %}