{% extends "base.html" %}

{% block title %}
  <title>Edit Team</title>
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block content %}
  <main class="main-index">
    <div class="content" style="width: 100%; max-width: 500px;">
      <h1>Edit Team</h1>
      <form style="padding: 10px;" class="form" action="{% url 'tracker:team-update' team.pk %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Update</button>
        <button type="button" onclick="window.history.back();" class="btn-link">Back</button>
      </form>
    </div>
  </main>
{% endblock %}
