{% extends "base.html" %}
{% block title %}
  <title>Teams List</title>
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block content %}
  <main class="main">
    <!-- Back button -->
    <div class="back-button-container">
      <a href="{% url 'tracker:profile' %}" class="back-button">Back to Profile</a>
    </div>

    <h1>My Teams</h1>
    <div class="manager-actions">
      <a style="display: inline-block; padding: 8px 15px; margin: 10px 0px;" href="{% url 'tracker:create-team' %}" class="btn-link" >Create Team</a>
    </div>

    <section class="teams-list">
      {% for team in page_obj %}
        <div class="team-card">
          <h2><a href="{% url 'tracker:team-details' team.pk %}">{{ team.name }}</a></h2>
          <p class="task-description">{{ team.description }}</p>
        </div>
      {% empty %}
        <h3 class="no-tasks">No teams yet. Take a break!</h3>
      {% endfor %}
    </section>

    {% block pagination %}
      {% include "includes/pagination.html" %}
    {% endblock %}
  </main>
{% endblock %}
